.console-wrapper { 
    min-height: 87%;
    background-color: black;   
    margin-right: 2em; 
    margin-bottom: 3%;
    margin-top: 3%;
    .minimax-console { 
        font-size: 1.2em;
        min-height: 85%;
        max-height: 28.1em;
        overflow-y: auto;
    }


}